.bg-layer {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url("../img/furina-eye.gif") no-repeat center center;
  background-size: cover; /* giữ tỉ lệ ảnh, không phóng to */
  filter: blur(8px);
  z-index: -2;
}

.bg-layer img {
  width: auto;
  height: 100%; /* hoặc max-height: 100vh */
  object-fit: contain; /* giữ tỉ lệ */
  display: block;
  margin: 0 auto;
}

.bg-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}


