.bg-layer {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover; /* giữ tỉ lệ ảnh, không phóng to */
  filter: blur(8px);
}

.bg-layer img {
  width: 100%;
  height: 110%; /* hoặc max-height: 100vh */
  object-fit: contain; /* giữ tỉ lệ */
  display: block;
  margin: 0 auto;
}

.bg-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 110%;
  background: rgba(0, 0, 0, 0.3);
}


